h1, form{
    text-align: center;
}

h1{
    margin-bottom: 50px;
}

#userName{
    width: 300px;
    margin-right: 20px;
}

button{
    width: 50px;
}

#container{
    width: 400px;
}

#nameList{
    margin-left: 30px;
}